body{
  margin: 0;
}

main {
  display: flex;
}

img{
  flex: 1;
  width: 50vw;
  height: 100vh;
}

div{
  flex: 1;
}

p{

  -webkit-colmn-width: 250px;
  -moz-column-width: 250px;
  column-width: 250px;
}
